
/* CSS */
.button-86 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #535252;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  width:170px;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding-top: 129;
}

